<app-slider [nombre]="'Peliculas'"></app-slider>
<div class="center">
    <section id="content">

        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">
                Pelicula favorita
            </h2>
            <h4>{{favorita.title | uppercase}}</h4>
            <h5>{{favorita.year | espar }}</h5>
            <h5>{{fecha | date:'dd/MM/yyyy'}}</h5>
        </div>

        <!-- <h2 class="subheader">{{title}}</h2>
        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas:
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas peliculas
        </div>

        {{peliculas.length}} -->
        <h2 class="subheader">listado de peliculas</h2>
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas">
                <app-pelicula
                    [pelicula] = "pelicula"
                    (marcarFavorita)="mostrarFavorita($event)"
                ></app-pelicula>
            </div>
        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>